@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body, .container1 {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    height: 100vh;
    background-image: url("images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container1 {
    display: flex;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #00060d;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.dashboardLink {
    padding-left: 42.5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    
}

.booking-details {
    margin-top: 20px;
    
}



.booking-section {
    margin-bottom: 20px;
}

.booking-item {
    margin-bottom: 10px;
    
}

.booking-item strong {
    display: block;
    margin-bottom: 5px;
}

.confirm-button {
    display: block;
    padding: 10px 20px;
    background-color: #00060d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto 0 auto;
    text-align: center;
}

.confirm-button:hover {
    background-color: #34495e;
}

.booking-section-reason{
    font-size: small;
}

.booking-section-history{
    font-size: small;
}

.reasonText{
    color: #00060d;
    resize: vertical;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 200;
    width: 200;
}