@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
   --main-color: #29d978;
   --primary: #f0fff7;
   --black: #141414;
   --white: #fff;
   --light-black: #666;
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: .2s linear;
}

html {
   font-size: 65%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

html::-webkit-scrollbar {
   width: 1rem;
}

html::-webkit-scrollbar-track {
   background: var(--white);
}

html::-webkit-scrollbar-thumb {
   background: var(--main-color);
}

section {
   padding: 3rem 4%;
}



.heading {
   text-align: center;
   color: var(--main-color);
   margin-bottom: 4rem;
   margin-top: 2rem;
   font-size: 4rem;
}

a.logo {
   font-size: 2.2rem;
   font-weight: bolder;
   color: var(--main-color);
}

.diet .controls {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
   gap: 1.5rem;
   list-style: none;
   width:230%;
}

.diet .controls .buttons {
   padding: 3rem 2rem;
   background: var(--white);
   cursor: pointer;
   margin-bottom: 3rem;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
   text-align: center;
   border-radius: 1rem;
}

.diet .controls .buttons img {
   height: 6rem;
}

.diet .controls .buttons h3 {
   font-size: 1.7rem;
   padding-top: 1rem;
   color: var(--light-black);
}

.diet .controls .buttons.active {
   background: var(--primary);
}

.diet .image-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   width: 230%;
}

.diet .image-container .box {
   background: var(--white);
   border-radius: 1rem;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.diet .image-container .box:hover .image img {
   transform: scale(1.1);
}

.diet .image-container .box .image {
   height: 25rem;
   overflow: hidden;
   width: 100%;
}

.diet .image-container .box .image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.diet .image-container .box .content {
   padding: 2rem;
}

.diet .image-container .box .content .link {
   font-size: 2rem;
   color: var(--main-color);
}

.diet .image-container .box .content p {
   padding: 1rem 0;
   font-size: 1.4rem;
   color: var(--light-black);
   line-height: 2;
}

.diet .image-container .box .content .icon {
   padding-top: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.diet .image-container .box .content .icon a {
   font-size: 1.4rem;
   color: var (--light-black);
}

.diet .image-container .box .content .icon a:hover {
   color: var (--main-color);
}

.diet .image-container .box .content .icon a i {
   padding-right: .5rem;
   color: var (--main-color);
}

@media (max-width: 991px) {
   html {
      font-size: 55%;
   }

   section {
      padding: 3rem 5rem;
   }
}

@media (max-width: 768px) {
   .diet .controls {
      grid-template-columns: 1fr;
   }

   .diet .image-container {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 500px) {
   html {
      font-size: 50%;
   }
}


.container1 {
   display: flex;
   width: 100%;
   overflow-y: auto;
   height: 100%;
}

.sidebar {
   
   width: 250px;
   background-color: #00060d;
   color: white;
   padding: 20px;
   flex-shrink: 0;

}

.sidebar h2 {
   text-align: center;
   margin-bottom: 20px;
}

.sidebar ul {
   list-style: none;
}

.sidebar ul li {
   margin: 15px 0;
}

.sidebar ul li a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 10px;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.sidebar ul li a:hover {
   background-color: #34495e;
}
.dashboardLink {
   padding-left: 42.5px;
   margin-bottom: 20px;
   font-size: 1.5rem;
   font-weight: 700;
   text-decoration: none;
   color: white;
}

