* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    overflow: hidden;
}






h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 2.5em;
}

/* Meal Plans Section */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Meal Plans Section */
.meal-plans {
    padding: 20px;
    background-color: #a2d44d;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-heading {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 2.5em;
    text-transform: uppercase;
}

.plans-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    max-width: 300px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding-bottom: 20px;
}

.meal-card h3 {
    font-size: 1.5em;
    color: #333;
    padding: 20px;
}

.meal-card p {
    font-size: 1em;
    color: #666;
    padding: 0 20px 20px;
}

.meal-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}

/* Hover Effect */
.meal-card:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .plans-cards {
        flex-direction: column;
        align-items: center;
    }
}

/* 
Actual meal plans
*/
html, body {
    height: auto;
    width: 100%;
    background-color: lightcyan;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ac1f427b27e3932df1c6ad1/1539178657866-YKM3YQ2M490V8BINBY2I/ke17ZwdGBToddI8pDm48kHQXb_U8ejk-T3s6tWkYsJN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USiXH4eFekr4YEjGDGsc5ea1PH_DQmchijgqO1KDIJ347dsz4i27n53EfqFOh7KSRA/bg+home.jpg?format=2500w);
    background-size: cover;
}

* {
    font-family: Kavoon;
    margin: 0;
    padding: 0;
}

form {
    min-width: 350px;
    height: auto;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px 50px;
    border-radius: 40px;
    background: linear-gradient(#f4f1e3 5%, goldenrod 5%);
    color: #f4f1e3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.5);
}

h4 {
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0.5em;
    font-family: Kavoon;
}

label, input, select, button {
    appearance: none;
    outline: none;
    border-style: none;
    line-height: 1.5em;
    padding: 5px 5px;
    font-family: Kavoon;
    color: #555;
}

label {
    width: 80px;
    display: inline-block;
    color: #704113;
    text-transform: capitalize;
    font-family: Kavoon;
}

input[type='radio'] {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid yellowgreen;
    background-color: #f4f1e3;
}

input[type='radio']:checked {
    background-color: #704113;
}

.gender-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gender-sec label {
    flex: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}

.gender-sec input[type='radio'] {
    flex: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

select {
    padding: 5px 10px;
    background-color: #f4f1e3;
    font-family: Kavoon;
    color: goldenrod;
}

input[type="text"] {
    color: #704113;
    border-radius: 8px;
    padding-left: 10px;
}

section {
    padding: 5px 0;
}

section span {
    margin-left: 10px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EB;
    color: #704113;
    border-radius: 20px;
    padding: 5px 20px;
}

.result {
    display: none;
    border: 2px solid #7EB;
    padding: 10px;
    border-radius: 20px;
}

.print-result, .print-result2 {
    word-wrap: break-word;
}

.print-result span, .print-result2 span {
    color: orangered;
    font-size: 20px;
    line-height: 30px;
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EB;
    color: #704113;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 30px;
}

h4 {
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0.5em;
    font-family: Kavoon;
}



form {
    min-width: 320px;
    height: 385px;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px 50px;
    border-radius: 40px;
    background: linear-gradient(#f4f1e3 5%, goldenrod 5%);
    color: #f4f1e3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.5);
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #7EB;
    color: #704113;
    border-radius: 20px;
    padding: 10px 25px;
}

form {
    min-width: 320px;
    height: 474px;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px 50px;
    border-radius: 40px;
    background: linear-gradient(#f4f1e3 5%, goldenrod 5%);
    color: #f4f1e3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.5);
}

.result {
    display: none;
    border: 2px solid #7EB;
    padding: 10px;
    border-radius: 20px;
    font-family: ui-monospace;
    font-size: large;
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #097272;
    height: 100%;
    width: 100%;
    display: flex;
}

.navbar {
    width: 200px;
    background-color: #5cb85c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

.navbar .logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 30px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    width: 100%;
}

.navbar ul li a {
    color: rgb(1, 0, 0);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #1288a2;
    transform: scale(1.1);
}


form {
    min-width: 320px;
    height: 510px;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px 50px;
    border-radius: 40px;
    background: linear-gradient(#f4f1e3 5%, goldenrod 5%);
    color: #f4f1e3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.5);
}