* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
body {
    display: flex;
    height: 100vh;
    background-image:url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container1 {
    display: flex;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #00060d;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}


.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.dashboardLink{
    padding-left: 42.5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
}

.container .contactForm {
    position: absolute;
    
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 10px 5px;
    font-size: 18px;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 5px;
    padding: 5px 0;
    pointer-events: none;
    font-size: 17px;
    font-weight: 300;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: deeppink;
    font-family: arial;
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background-color: #fa4c4c;
    font-weight: 500;
}
